*{
  padding: 0;
  margin: 0;
  border: 0;
  
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: -1;
   font-size: 14px;
   -ms-text-size-adjust: -100%;
   -moz-text-size-adjust: -100%;
   -webkit-text-size-adjust: -100%;
}
input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* ************************************************************************* */

a:visited{
  text-decoration: none;
  color: initial;
}

body {
  margin: 0;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./src/Cloudy_sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1000px;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}

#time{ 
  display: flex;
  justify-content: center;
  max-width: 150px;
  margin: 20px 0 0 20px;
  padding: 5px;
  font-size: 22px;
  font-weight: 500;
  align-items: center;
  color: rgb(233, 111, 227);
  text-decoration: underline;
  border: 2px solid  rgb(14, 196, 247);
  animation: example 5s linear 2s infinite alternate;
}

@keyframes example {
  0% {border: 2px solid rgb(255, 255, 255);color:  rgb(14, 196, 247);}
  50% {border: 2px solid  rgb(233, 111, 227)}
  100% {border: 2px solid rgb(14, 196, 247);color: rgb(233, 111, 227);}
}

.heading{
  font-size: 60px;
  color: #4b42f5;
  text-shadow: 1px 1px 2px rgb(167, 61, 79);
  margin-bottom: 20px;
  margin-top: 40px;
}

.form-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 0 20px 0;
}

.type-city{
  border-radius: 20px;
  max-width: 350px;
  height: 50px;
  border: 3px solid #4b42f5;
  font-size: 22px;
  text-indent: 15px;
}

.search-button{
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #8a84f3;
  border: 2px solid #fff;
  border-radius: 15px;
  margin-left: 10px;
  width: 105px;
  height: 50px;
  cursor: pointer;
}
.search-button:hover{
  box-shadow: 5px 2px 5px rgb(0, 179, 255);
  background-color: #61d7f1;

}
.local-data{
  transition: 0.3 ease;

}

.local-data:hover{
  cursor: pointer;
  transform: scale(1.5);
}
.city{
 
  text-transform: capitalize;
  font-size: 42px;
}

.single-letter{
  position: absolute;
  font-size: 22px;
  left: 170px;
  bottom: 3px;
} 

.main-degree-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: url(./src/Cloudy_sky.jpg); 
}

#degree{
  font-size: 35px;
  font-weight: 700;
}

span.f,span.c{
  font-size: 30px;
  cursor: pointer;
  color: #000003;
}

span:hover{
  color: #4b42f5;
}

.degree-container{
  margin-right: 10%;
}

#degree:hover{
  color: #000003;
}

a {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 18px;
}

a:hover{
  cursor: pointer;
  color: #4b42f5;
}

span.highlights{
  color: #4b42f5;
}

.desciption-weather{
  font-size: 22px;
  font-weight: 600;
  color: #4b42f5;
  text-shadow:  2px 1px 2px #fafafc;
}

footer{
  display: flex;
  justify-content: center;
  align-content: center; 
  padding: 20px;
}

.week-weather-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0 40px 0; 
}

.week-weather{
  padding: 15px 5px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255,0.3);
}

.week-weather-info{
  display: flex;
  background-color: rgb(255, 255, 255,0.9);
  border-radius: 15px;
}

.day-week{
  min-width: 100px;
  font-size: 20px;
  font-weight: 500;
}

.day-weather{
  font-size: 18px;
}

@media (max-width: 660px){
  .week-weather-container{
    background-color: none;
    padding: 0;
    margin: 0;
  }
  .week-weather{
    background-color: none;
    padding: 10px 5px;
  }
  .week-weather-info{
    flex-direction: column;
    align-items: center;
  }

  .form-input{
    margin: 0 0 20px 0;
  }

  .heading{
    margin: 10px 0;
    font-size: 50px;
  }

  .city{
    font-size: 35px;
  }
}
@media (max-width: 575px){

  #time{ 
    justify-content: right;
    max-width: 100%;
    margin: 0 5px 0 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 0, 5);
    text-decoration: underline;
    border: none;
    animation: none;
  }

  .container{
    height: 100%;
  }

  .type-city{
    width: 150px;
  }

  .week-weather-container{
    flex-direction: column;
  }

  .week-weather-info{
    flex-direction: row;
    justify-content: center;
  }

  .week-weather{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0;
  }
}
@media (max-width: 400px){
  .heading{
    margin: 30px 0;
    font-size: 33px;
  }
}